:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Quan trọng: cho html, body, #root full kích thước, không căn giữa */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Để Bootstrap lo phần button, link...
   Nếu muốn custom sau thì viết theo class riêng, đừng override thẳng */
a {
  text-decoration: none;
}
