server:
    port: 8080
spring:
    datasource:
        url: "jdbc:mysql://localhost:3306/quanlybanhang"
        username: root
        password:
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
          hibernate:
            dialect: org.hibernate.dialect.MySQLDialect
    servlet:
      multipart:
        enabled: true
        max-file-size: 10MB
        max-request-size: 10MB
jwt:
    signerKey: "5bf40dc0c9a7eadf64dbe77550b7993be8502ec936bc509bebfa25628720dbf0"
